# IDEs
.idea/
.vscode/
*.swp
*.swo

# Python
.venv/
__pycache__/
*.py[cod]
*$py.class
.mypy_cache/
.pytest_cache/
.ruff_cache/
*.egg-info/
dist/
build/

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local
*.local.json
